<% if current_user %>
  <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
    <%= render "debtors/debtorForm" %>
  </div>
  <% if @debtors %>
    <% @debtors.each_with_index do |person, i| %>
    <div class="owes<%= i %>" id="get-paid">
      <div class='col-md-3' id='owe-me-card'>
        <div class='card'>
          <div class='card-block'>
            <h4 class='card-title'><%= person.name %> - $<%= person.amount %></h4>
            <p class='card-text'><%= person.description %>
              <br>
               <%= render 'debtors/debtorUpdate' %>
            </p>
            <%= link_to "Paid Me", user_debtor_path(current_user, person), method: :delete, remote: true, class: "btn btn-danger", id: "paid-me"%>
          </div>
        </div>
      </div>
    </div>
    <% end %> <!-- each with person -->
   <% end %>  <!-- if debtors -->
<% else %>
<div class="page-header" style="padding-top: 5px;">
  <div class="content">
    <h1 style="color: azure; text-align: center;">Your Virtual Debt Book</h1>
    <h3 style="color: azure; text-align: center;">
      Never Lose Track of Who Owe You!
    </h3>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <h2>Become A Debt Collector</h2>
        <p>Your own virtual debt book for the loved ones you gave an loan out too. Remind them the amount they owe you everyday. More features will be coming soon like requesting your money via cash me, expected pay back date and much more....</p>
        <p>
            <%= link_to "Sign Up", signup_path, class: "btn btn-success", id: "signup-buttonn" %>
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Contact Me</h2>
        <address>
            <strong>Salomon Pluviose</strong>
            <br>
            <abbr title="Phone">P:</abbr>(720) 220-4060
            <br>
            <abbr title="Email">E:</abbr> <a href="mailto:salomonpluviose1@gmail.com">salomonpluviose1@gmail.com</a>
        </address>
    </div>
  </div>
</div>
<% end %>
