<% if current_user %>
  <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
    <%= render "debtors/debtorForm" %>
  </div>
  <% if @debtors %>
    <% @debtors.each_with_index do |person, i| %>
    <div class="owes<%= i %>" id="get-paid">
      <div class='col-md-3' id='owe-me-card'>
        <div class='card'>
          <div class='card-block'>
            <h4 class='card-title'><%= person.name %> - $<%= person.amount %></h4>
            <p class='card-text'><%= person.description %></p>
            <%= link_to "Paid Me", user_debtor_path(current_user, person), method: :delete, remote: true, class: "btn btn-danger", id: "paid-me"%>
          </div>
        </div>
      </div>
    </div>
    <% end %> <!-- each with person -->
   <% end %>  <!-- if debtors -->
<% else %>
<div class="page-header" style="padding-top: 5px;">
  <div class="content">
    <h1 style="color: azure; text-align: center;">Your Virtual Debt Book</h1>
    <h3 style="color: azure; text-align: center;">
      Never Lose Track of Who Owe You!
    </h3>
  </div>
</div>
<% end %>
